<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

    <display-name>Educacionit Delivery Web App</display-name>

    <context-param>
        <param-name>DBUSER</param-name>
        <param-value>postgres</param-value>
    </context-param>

    <context-param>
        <param-name>DBPWD</param-name>
        <param-value>1234</param-value>
    </context-param>

    <context-param>
        <param-name>DBURL</param-name>
        <param-value>jdbc:postgresql://localhost/delivery</param-value>
    </context-param>

    <context-param>
        <param-name>DRIVER</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.educacionit.delivery.servlet.LogoutServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>confirmed</servlet-name>
        <servlet-class>com.educacionit.delivery.servlet.UserConfirmed</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>confirmed</servlet-name>
        <url-pattern>/confirmed</url-pattern>
    </servlet-mapping>
</web-app>